[Unit]
Description=Terraria server on port %I
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --interactive \
              --name terraria_%I \
              --publish %I:7777/tcp \
              --mount type=bind,source=/apps/terraria/%I,target=/terraria \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              hetsh/terraria
ExecStart=/bin/docker start --attach terraria_%I
ExecStop=/bin/sh -c "echo exit | docker attach terraria_%I"

[Install]
WantedBy=multi-user.target
